body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
  z-index: 1;
}

#map {
  position: fixed;
  height: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--campcolor);
}

table, th, td {
  table-layout:fixed;
  text-align:center;
  /* border: 1px solid; */
}

#zoominfo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: var(--campcolor);
  z-index: 2;
  text-align: center;
  font-size: 5vh;
  font: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
}

#bugs {
  visibility: hidden;
}

/* needs position and z-index to show tooltip */
#info {
  visibility: hidden;
}

#bugs h2 {
    color: red;
    font: 12pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#editbuttons {
  visibility: hidden;
}

#home {
  height: 0;
  visibility: hidden;
}

#filter {
  height: 0;
  visibility: hidden;
}

#about {
  height: 0;
  visibility: hidden;
}

#cs_cat {
  display: inline;
}

.sidebar-tabs {
  width: 0;
  height: 0;
  visibility: hidden;
}

.sidebar-close {
  visibility: hidden;
}

.sidebar-header img {
    vertical-align: middle;
}

.sidebar-header {
  background-color: var(--campcolor);
  line-height: 1.5;
  color: #fff;
  font-size: 15pt;
  line-height: 1.5;
}

.sidebar-tabs > ul > li.active {
    background-color: var(--campcolor);
    color: #fff;
}

.legend-content img {
    vertical-align: middle;
    margin-top: 2px;
}

.filter-content img {
    vertical-align: middle;
    margin-top: 2px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  vertical-align: middle;
}

.switch input { 
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #800000;
}

input:focus + .slider {
  box-shadow: #800000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

.flags {
  text-align: center;
}

.flags img {
    vertical-align: middle;
}

/* for OSM "description" tag */
.infobox {
  background: #ddddff;
  border: 0;
  border-radius: 0.3em;
  margin-left: 0px;
  padding: 1em;
  font-size: 1rem;
  text-align: left;
  display: block;
}

/* Full-width button */
.button {
  text-align: center;
  padding: 5pt;
  border-radius: 5pt;
  border-color: var(--campcolor);
  border-width: 2px;
  border-style: solid;
  display: block;
}

/* Reviews from Mangrove */

#reviews_container {
  margin-top: 20pt;
}

#reviews_container h4 .powered_by {
  float: right;
  color: gray;
}

#reviews_container ul {
  list-style-type: none;
  padding: 0pt;
}

#reviews_container .entry {
  background-color: #ddddff;
  border-radius: 3px;
  padding: 4pt;
}

#reviews_container li+li {
  margin-top: 10px;
}

#reviews_container .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#reviews_container .rating {
  color: #b8860b;
  display: inline;
  font-size: 14pt;
}

#reviews_container .meta {
  margin-top: 6pt;
}

#reviews_container .meta a {
  float: right;
  font-size: 10pt;
  font-style: italic;
}

#reviews_container p {
  margin-top: 0;
  margin-bottom: 0rem;
}

#reviews_container .loading_or_no_reviews {
  text-align: center;
  margin-top: 10pt;
}

#nojs {
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  font: 12pt "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #000000;
}

#nojs a {
  color: #000080;
}

.route-entry {
  --routecolor: red;
  padding: 10px;
  position: relative;
  margin: 10px;
  border-radius: 4px;
}

.route-entry::before {
  content: "";
  position: absolute;
  background: var(--routecolor);
  pointer-events: none;
  z-index: 0;
  border-radius: inherit;
  inset: 0;
  opacity: 0.15;
  transition: background-color 120ms ease
}

.route-entry > * {
  position: relative;
  z-index: 1;
}

.route-actions, .route-controls {
    display:flex;
    gap:0.7rem;
}

.route-controls {
  padding: 0px 10px;
}

.route-actions button {
  cursor: pointer;
  width: 25px;
}

.route-header {
   display:flex;
   align-items: center;
   justify-content:space-between;
   margin-bottom: 10px;
}

.color-picker {
  align-items: center;
  display: flex;
  gap: 0.7rem;
}

.color-swatch {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 100%;
    opacity: 0.5;
    transform: scale(0.85);
    transform-origin: center center;
    transition: transform 120ms ease, opacity 120ms ease, border-radius 120ms ease;
}

input[type="color"].color-swatch {
    width: 40px;
    height: 20px;
    border-radius: 10px;
    border-width: 0px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.color-swatch.selected {
  opacity: 1.0;
  transform: scale(1);
  border: 2px solid #000000 !important;
  border-radius: 4px !important;
}

.color-swatch:hover {
    opacity: 1.0;
    transform: scale(1);
}

#routes {
padding-left: 10px;
padding-right: 10px;
}


#routes hr {
  border: 1.4px solid var(--campcolor);
  margin: 10px 0px;
}

#routes h3 {
  margin: 0;
}