:root {
  --campcolor: #000080
}

body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    z-index: 1;
}

a {
  text-decoration: none;
  color: var(--campcolor);
}

h2 a {
  color: black;
}

#zoominfo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: var(--campcolor);
  z-index: 2;
  text-align: center;
  font-size: 5vh;
  font: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
}

#bugs h2 {
    color: red;
    font: 12pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.sidebar-header img {
    vertical-align: middle;
}
.sidebar-header {
    background-color: var(--campcolor);
    line-height: 1.5;
}
.sidebar-tabs > ul > li.active {
    background-color: var(--campcolor);
}

.legend-content img {
    vertical-align: middle;
    margin-top: 2px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
  vertical-align: middle;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #800000;
}

input:focus + .slider {
  box-shadow: #800000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 50%;
}

.flags {
  text-align: center;
}

.flags img {
    vertical-align: middle;
}

/* for OSM "description" tag */
.infobox {
  background: #ddddff;
  border: 0;
  border-radius: 0.3em;
  margin-left: 0px;
  padding: 1em;
  font-size: 1rem;
  text-align: left;
  display: block;
}

/* Full-width button */
.button {
  text-align: center;
  padding: 5pt;
  border-radius: 5pt;
  border-color: var(--campcolor);
  border-width: 2px;
  border-style: solid;
  display: block;
}

/* Reviews from Mangrove */

#reviews_container {
  margin-top: 20pt;
}

#reviews_container h4 .powered_by {
  float: right;
  color: lightgray;
}

#reviews_container ul {
  list-style-type: none;
  padding: 0pt;
}

#reviews_container .entry {
  background-color: #ddddff;
  border-radius: 3px;
  padding: 4pt;
}

#reviews_container li+li {
  margin-top: 10px;
}

#reviews_container .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#reviews_container .rating {
  color: yellow;
  display: inline;
  font-size: 14pt;
}

#reviews_container .meta {
  margin-top: 6pt;
}

#reviews_container .meta a {
  float: right;
  font-size: 10pt;
  font-style: italic;
}

#reviews_container p {
  margin-top: 0;
  margin-bottom: 0rem;
}

#reviews_container .loading_or_no_reviews {
  text-align: center;
  margin-top: 10pt;
}