<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Open Camping Map</title>

    <base href="/" target="_self">

    <link rel="icon" type="image/x-icon" href="other-icons/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="leaflet/leaflet.css" />
    <link rel="stylesheet" href="geocoder/Control.Geocoder.css" />
    <link rel="stylesheet" href="css/leaflet-gps.css" />
    <link rel="stylesheet" href="css/MarkerCluster.css" />
    <link rel="stylesheet" href="css/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="css/campmap.css" />
    <!-- color for default category (created serverside)
    Example:
    <link rel="stylesheet" href="css/cat/standard.css" />
    -->
    <!-- %DEFAULTCAT% -->
</head>
<body>
    <noscript>
      <link rel="stylesheet" type="text/css" href="css/static.css">
    </noscript>
    <div id="zoominfo">Zoom in to display campsites!</div>
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#info" role="tab"><i class="fa fa-map-marker"></i></a></li>
                <li><a href="#bugs" role="tab"><i class="fa fa-bug"></i></a></li>
            </ul>

            <ul role="tablist">
                <li class="flags"><a href="javascript:openURL('de');"><img src="lang/de.png" title="deutsch"></a></li>
                <li class="flags"><a href="javascript:openURL('en');"><img src="lang/en.png" title="english"></a></li>
                <li class="flags"><a href="javascript:openURL('fr');"><img src="lang/fr.png" title="français"></a></li>
                <li class="flags" style="background-color: #cccccc;"><a href="javascript:openURL('es');"><img src="lang/es.png" title="español"></a></li>
                <li class="flags"><a href="javascript:openURL('ru');"><img src="lang/ru.png" title="русский"></a></li>
                <li><a href="#about" role="tab"><i class="fa fa-info"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    Open Camping Map
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <div class="legend-content">
                <p>Mapa de zonas de acampada alrededor del mundo basado en <a href="http://osm.org" target="_blank" >OpenStreetMap</a>.</p>

                <h2>Leyenda:</h2>
                <h3>Categorías:</h3>
                <p>
                <b>Acceso público:</b><br />
                <label class="switch"><input type="checkbox" id="standard" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_standard.svg"> camping caravaning<br />
                <label class="switch"><input type="checkbox" id="caravan" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_caravan.svg"> lugar de caravanas<br />
                <label class="switch"><input type="checkbox" id="camping" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_camping.svg"> camping solo tiendas<br />
                <label class="switch"><input type="checkbox" id="nudist" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_nudist.svg"> camping nudista<br />
                <label class="switch"><input type="checkbox" id="group_only" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_group_only.svg"> camping para grupos/scouts<br />
                <label class="switch"><input type="checkbox" id="backcountry" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_backcountry.svg"> acampada libre<br />
                </p>
                <p>
                <b>Privado/solo miembros:</b><br />
                <label class="switch"><input type="checkbox" id="private_standard" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_private_standard.svg"> camping caravaning<br />
                <label class="switch"><input type="checkbox" id="private_caravan" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_private_caravan.svg"> lugar de caravanas<br />
                <label class="switch"><input type="checkbox" id="private_camping" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_private_camping.svg"> comping solo tiendas<br />
                <label class="switch"><input type="checkbox" id="private_nudist" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_private_nudist.svg"> camping nudista<br />
                <label class="switch"><input type="checkbox" id="private_group_only" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_private_group_only.svg"> camping para grupos/scouts<br />
                <label class="switch"><input type="checkbox" id="private_backcountry" checked><span class="slider round"></span></label>&nbsp;<img src="markers/l_private_backcountry.svg"> camping de travesía<br />
                </p>
                <h3>Instalaciones:</h3>
                <div class="facilities"></div>
                </div>
            </div>

           <!-- filled dynamically on client or server when selecting a particular site -->
            <div class="sidebar-pane" id="info">
                <h1 class="sidebar-header"><div id="cs_cat"><!-- %SITECAT% --></div><span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <div id="info content">
                <!-- %SITEINFO% -->
                </div>
                <div id="reviews_container">
                <!-- %REVIEWS% -->
                </div>
            </div>

            <!-- filled dynamically on client or server when selecting a particular site -->
            <div class="sidebar-pane" id="bugs">
                <h1 class="sidebar-header"> Bugs<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <div id="bugs content">
                <!-- %SITEBUGS% -->
                </div>
            </div>

            <div class="sidebar-pane" id="about">
                <h1 class="sidebar-header">Acerca de Open Camping Map<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <div id="about content">
                <p>
                    <b>OpenCampingMap</b> es un proyecto <a href="https://es.wikipedia.org/wiki/Software_libre_y_de_c%C3%B3digo_abierto" target="_blank">FOSS</a>
                    realizado por <a href="https://wiki.openstreetmap.org/wiki/User:Giggls" target="_blank">Sven Geggus</a>
                    basado en datos abiertos de <a href="http://osm.org" target="_blank">OpenStreetMap</a>.
                </p>
                <p>
                    El código fuente de la <a href="https://github.com/giggls/opencampsitemap" target="_blank">parte frontal de la web</a>
                    así como el <a href="https://github.com/giggls/osmpoidb" target="_blank">backend</a> están disponibles en GitHub.
                </p>
                <p>
                    Los datos mostrados aquí se extraen únicamente de OpenStreetMap
                    y son actualizados cada hora.
                </p>
                <p>
                    Desafortunadamente, al momento de escribir esto (principios del año 2019)
                    estos datos estan lejos de ser perfectos. Ojalá la disponibilidad de este
                    mapa ayude a mejorar los datos.
                </p>
                <p>
                <p><b>Por suerte, ¡cualquiera puede ayudar a hacer esto!</b></p>
                <p>
                    Simplemente, haz click en el icono del bichito en tu
                    camping favorito y añade las características que faltan
                    usando cualquiera de los botones de edición.
                </p>
                <p>
                    Incluso los mapeadores de sofá pueden ayudar mucho ya que muchas
                    de las características que faltan, a menudo se pueden encontrar
                    utilizando tu motor de búsqueda preferido porque la mayoría de
                    campings tiene su propio sitio web.
                </p>
		<p>
		Puedes encontrar información sobre el etiquetado de campings en el <a
                href="https://wiki.openstreetmap.org/wiki/Tag:tourism%3Dcamp_site"
                target="_blank">Wiki de OpenStreetMap</a>.
                <p>
                &nbsp;<br />
                Última actualización:
                <!-- %IMPORTDATE% -->
                UTC
                </p>
                </div>
            </div>
        </div>
    </div>

    <!-- filled dynamically on client -->
    <div id="map" class="sidebar-map"></div>
    <!-- filled dynamically on server with content from templates/noscript.html.de -->
    <div id="nojs"><!-- %NOSCRIPT% --></div>
    <script type="text/javascript">
      // call this as early as possible to prevent popup of noscript stuff
      document.getElementById("nojs").style.visibility="hidden";
      // define application language of this file here
      var lang= "es";
    </script>
    <script src="js/site-feature.js"></script>
    <script src="l10n/es.js"></script>
    <script src="leaflet/leaflet.js"></script>
    <script src="js/leaflet.markercluster.js"></script>
    <script src="sidebar-v2/js/leaflet-sidebar.js"></script>
    <script src="leaflet-plugins/leaflet-hash.js"></script>
    <script src="geocoder/Control.Geocoder.js"></script>
    <script src="leaflet-plugins/leaflet-gps.js"></script>
    <script src="js/address-formatter@2.0.5.js"></script>
    <script src="js/reviews.js"></script>
    <script src="js/campmap.js"></script>
</body>
</html>
